<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Canteen.Properties.Settings.canteenConnectionString"
            connectionString="Password=canteen;Persist Security Info=True;User ID=canteen;Initial Catalog=canteen;Data Source=swms22up.gah.local"
            providerName="System.Data.SqlClient" />
        <add name="Canteen.Properties.Settings.canteenTestConnectionString"
            connectionString="Password=canteen;Persist Security Info=True;User ID=canteen;Initial Catalog=CanteenTest;Data Source=swms22up.gah.local" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>